<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>Login Page</h1>
<hr>
<p>You can login as <strong>USER</strong>:</p>
<p>Username = <strong>bart</strong> and Password = <strong>bart</strong></p>
<hr>
<p>You can login as <strong>ADMIN</strong>:</p>
<p>Username = <strong>ted</strong> and Password = <strong>ted</strong></p>
<hr>
<p>You can login as both <strong>USER</strong> and <strong>ADMIN</strong>:</p>
<p>Username = <strong>super</strong> and Password = <strong>super</strong></p>
<hr>


<div th:if="${param.error}" style="color: red">
    Invalid username or password
</div>

<div th:if="${param.logout}" style="color: green">
    YOU HAVE BEEN LOGGED OUT.
    <br>
</div>

<br>

<form th:action="@{/login}" method="post">
    <div>
        <label>User name: <input type="text" name="username"/></label>
    </div>
    <br/>
    <div>
        <label>Password: <input type="text" name="password"/></label>
    </div>
    <div>
        <input type="submit" value="Sign in"/>
    </div>
</form>
</body>
</html>